@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Base state for clickable shapes */
.ucc-clickable {
  cursor: pointer;
  transition: fill 0.2s ease, stroke 0.2s ease;
}

/* Hover effect (only on the element you're over) */
.ucc-clickable:hover {
  fill: rgba(128, 6, 185); 
}

/* Selected element (clicked) */
.ucc-selected {
  fill: rgba(79, 37, 132); 
}
